
{% extends "template/app.twig" %}

{% block content %}

<div class="columns">
  <div class="column is-half is-offset-one-quarter">
  <p class="title is-4">Change Password</p>

  <form action="{{ path_for('auth.password')}}" method="POST">

    <div class="field">
        <label class="label">Current password</label>
        <div class="control has-icons-left has-icons-right">
            <input type="password" name="password_old" class="input {{ errors.password_old ? ' is-warning ' : ''}}" name="email" placeholder="Old password" value="{{ old.password_old }}">
            <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
            </span>
        </div>
        {% if errors.password_old %}
            <p class="help is-danger">{{ errors.password_old | first }} </p>
        {% endif %}
    </div>

      <div class="field">
        <label class="label">New password</label>
        <div class="control has-icons-left has-icons-right">
            <input type="password" name="password_new" class="input {{ errors.password_new ? ' is-warning ' : ''}}" name="email" placeholder="New password" value="{{ old.password_new }}">
            <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
            </span>
        </div>
        {% if errors.password_new %}
            <p class="help is-danger">{{ errors.password_new | first }} </p>
        {% endif %}
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Change password</button>

            {{ csrf() | raw }}

        </div>
    </div>

    </form>
    </div>
</div>


{% endblock %}